@namespace Unilake.WebApp.Components

@* todo: the message needs to be truncated in the accordion header, since the message can be very long and be multi-lined *@
<Accordion>
    <Header>
        <div class="flex w-full justify-between text-small">
            <div class="flex gap-2 divide-x divide-neutral-background-border-divider dark:divide-neutral-background-dark-border-divider">
                <div class="flex gap-2 items-center">
                    <div class="flex px-4 py-1 rounded-lg font-bold items-center justify-center outline outline-1 bg-feedback-error-background text-feedback-error-text outline-feedback-error-contrast dark:bg-feedback-error-dark-background dark:text-feedback-error-dark-text dark:outline-feedback-error-dark-contrast">
                        @ErrorCode
                    </div>
                    <Icon Color="text-typography-icon dark:text-typography-dark-icon" IconInstance="ErrorTypeIcon"
                          Size="16"/>
                    <p>@ErrorTypeLabelText</p>
                </div>
                <div class="flex gap-2 items-center pl-2">
                    <Icon Color="text-typography-icon dark:text-typography-dark-icon" IconInstance="ErrorMessageIcon"
                          Size="16"/>
                    <p>@ErrorMessage</p>

                </div>
            </div>
            <div class="flex items-center mr-2">
                <TimeagoPill Timestamp="OccuredUtc"/>
            </div>
        </div>
    </Header>
    <ChildContent>
        <div class="text-small">
            <p class="pb-2">@ErrorLocation</p>
            <LogFileReaderEditor Message="@ErrorMessage" StackTrace="@ErrorStackTrace"/>
        </div>
    </ChildContent>
</Accordion>

@code {
    [Parameter, EditorRequired]
    public required int ErrorCode { get; init; }
    [Parameter, EditorRequired]
    public required IIcon ErrorTypeIcon { get; init; }
    [Parameter, EditorRequired]
    public required string ErrorTypeLabelText { get; init; }
    [Parameter, EditorRequired]
    public required IIcon ErrorMessageIcon { get; init; }
    [Parameter, EditorRequired]
    public required string ErrorLocation { get; init; }
    [Parameter, EditorRequired]
    public required string ErrorMessage { get; init; }
    [Parameter, EditorRequired]
    public required DateTime OccuredUtc { get; init; }
    [Parameter, EditorRequired]
    public required string ErrorStackTrace { get; init; }
}